body {
  background-color: var(--bodyColor);
  margin:0;
  padding:0;
}

.Logo {
  background-image: url(./images/logo.png);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
